#first div {
    font-style: oblique;
}
#history content {
    font-style:italic;
    font-size:medium;
    }
    body {
        background-color:brown;
        font-family:Arial, Helvetica, sans-serif;
    }
    p {
        font-style: oblique;
        text-decoration-style: dotted;
    }
    nav ul {
        border:solid 0,5em black;
        list-style-type:none;
    }
