.content {
    border:blue;
    text-decoration-style: dotted;
    font-family:Arial, Helvetica, sans-serif;
}
.boxcontent {
   border:yellow;
   text-decoration-color: aqua;
   font-family:sans-serif;
}
#first div {
    font-style: italic;
    margin: 0,5em;
}