.container {
    border:solid,0,5em,blue;
    padding:0,5em;
    box-sizing:border-box;
}
td tr {
    border:solid 2px;
    box-sizing: border-box;
}
table {
    border: solid 2px gray;
}
div {
    box-sizing:border-box;
}
* {
    background-color: yellowgreen;
}